.svg-arrow-dims {
	width: 12px;
	height: 12px;
}

.svg-arrow_b-dims {
	width: 24px;
	height: 16px;
}

.svg-i_mail-dims {
	width: 41px;
	height: 41px;
}

.svg-i_phone-dims {
	width: 41px;
	height: 41px;
}

.svg-logo-dims {
	width: 260px;
	height: 60px;
}

