<header class="navbar">
    <div class="navbar__inner container">
        <div class="navbar__logo">
            <a href="#">
                <img src="img/logo.svg" alt="">
            </a>
        </div>
        <div class="navbar__info">
            <div class="navbar__info__block">
                <a href="mailto:vopros@nugabest.ru" class="navbar__info__block__inner">
                    <div class="navbar__info__block__icon">
                        @@include('component.svg.html', {"name": "i_mail"})
                    </div>
                    <div class="navbar__info__block__text">
                        <div class="navbar__info__block__text__title">vopros@nugabest.ru</div>
                        <div class="navbar__info__block__text__sub">Напишите нам</div>
                    </div>
                </a>
            </div>
            <div class="navbar__info__block">
                <a href="tel:+88005008357" class="navbar__info__block__inner">
                    <div class="navbar__info__block__icon">
                        @@include('component.svg.html', {"name": "i_phone"})
                    </div>
                    <div class="navbar__info__block__text">
                        <div class="navbar__info__block__text__title">8 (800) 500-83-57</div>
                        <div class="navbar__info__block__text__sub">Бесплатно по России</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>