@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-Bold.woff2') format('woff2'),
        url('HouschkaPro-Bold.woff') format('woff'),
        url('HouschkaPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-ExtraBoldItalic.woff2') format('woff2'),
        url('HouschkaPro-ExtraBoldItalic.woff') format('woff'),
        url('HouschkaPro-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-ThinItalic.woff2') format('woff2'),
        url('HouschkaPro-ThinItalic.woff') format('woff'),
        url('HouschkaPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-DemiBold.woff2') format('woff2'),
        url('HouschkaPro-DemiBold.woff') format('woff'),
        url('HouschkaPro-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-Medium.woff2') format('woff2'),
        url('HouschkaPro-Medium.woff') format('woff'),
        url('HouschkaPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-ExtraBold.woff2') format('woff2'),
        url('HouschkaPro-ExtraBold.woff') format('woff'),
        url('HouschkaPro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-BoldItalic.woff2') format('woff2'),
        url('HouschkaPro-BoldItalic.woff') format('woff'),
        url('HouschkaPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-LightItalic.woff2') format('woff2'),
        url('HouschkaPro-LightItalic.woff') format('woff'),
        url('HouschkaPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-MediumItalic.woff2') format('woff2'),
        url('HouschkaPro-MediumItalic.woff') format('woff'),
        url('HouschkaPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-DemiBoldItalic.woff2') format('woff2'),
        url('HouschkaPro-DemiBoldItalic.woff') format('woff'),
        url('HouschkaPro-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-Thin.woff2') format('woff2'),
        url('HouschkaPro-Thin.woff') format('woff'),
        url('HouschkaPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('HouschkaPro-Light.woff2') format('woff2'),
        url('HouschkaPro-Light.woff') format('woff'),
        url('HouschkaPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

